
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Group</th>
    <th>School</th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
    <td><%= student.email %></td>
    <td><%= student.phone_number %></td>
    <td><%= student.address %></td>
    <td><%= student.group.name %></td>
    <td><%= student.school.name %></td>
  </tr>
<% end %>
</table>

<br />